<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKmTZAG8H5WJrkltcDIEVw6-Ilm2hXdCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>990061008678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Practice</string>
	<key>PROJECT_ID</key>
	<string>practice-3a126</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-3a126.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990061008678:ios:0b7a3dadd71b97e6bb93e7</string>
</dict>
</plist>